[submodule "third_party/vln-ce"]
	path = third_party/vln-ce
	url = git@github.com:QAWe-ikun/VLN-CE.git
	branch = master
	ignore = dirty

[submodule "third_party/smartway-code"]
	path = third_party/smartway-code
	url = git@github.com:QAWe-ikun/SmartWay-Code.git
	branch = master
	ignore = dirty
